.row
  .col-lg-12
    .row.gutter-5
      .col-md-3
        %form{action: root_path, method: 'get'}
          .input-group
            = text_field_tag :date, '', class: 'form-control datetimepicker'
            %span.input-group-btn
              = submit_tag 'Go', name: nil, class: "btn btn-success"
      .col-md-9
        .btn-group.btn-group-justified{ role: "group" }  
          - @dates.each do |item|
            - if item[:active] == true
              .btn-group{ role: "group" }
                %button.btn.btn-primary.active{ type: "button" }
                  = item[:date_name]
            - else
              .btn-group{ role: "group" }
                %a.btn.btn-primary{ type: "button", role: "button", href: "?date=#{item[:date_value]}"}
                  = item[:date_name]
