.row
  .col-lg-12
    .row.gutter-5
      .col-md-3
        %form{onSubmit: " location.href = '#{dashboard_index_url}/' + document.getElementById('date_id').value; return false; "}
          .input-group
            = text_field_tag :id, params[:id], id: 'date_id', class: 'form-control datetimepicker-no-date'
            %span.input-group-btn
              = submit_tag 'Go', name: nil, class: "btn btn-success"
      .col-md-9
        .btn-group.btn-group-justified{ role: "group" }  
          - @presenter.last_workdays.each do |item|
            - if item[:active]
              .btn-group{ role: "group" }
                %button.btn.btn-primary.active{ type: "button" }
                  = item[:date_name]
            - else
              .btn-group{ role: "group" }
                = link_to item[:date_name], dashboard_path(item[:date_value]), class: 'btn btn-primary',type: "button", role: "button"
