=form_tag update_multiple_incomes_path, method: :put do
  = hidden_field_tag(:date, @chosen_date)
  .panel.panel-primary
    .panel-heading
      .container-fluid.panel-container
        .col-xs-8.text-left
          %h3.panel-title.abc
            = icon 'truck'
            Truck Routes:
        .col-xs-4.text-right
          .panel-title
            = submit_tag "Save", class: "btn btn-default btn-panel"
    .panel-body
      -if @incomes_truck_routes.any?
        -for income in @incomes_truck_routes
          =fields_for "incomes[]", income do |f|
            .row.row-panel
              .col-xs-5.vmid
                = income.income_source.name
                - unless income.driver.nil? && income.value.nil? 
                  %a{id:"#{income.id}_link_disabled", onclick: "edit(#{income.id})"}
                    = icon 'pencil'
              .col-xs-5
                - if income.driver.nil?
                  = f.select(:driver_id, options_for_select(@drivers), {prompt: "Select driver!"}, { class: "form-control input-sm"})
                - else
                  %fieldset{id: "#{income.id}_driver_disabled", disabled: true}
                    = f.select(:driver_id, options_for_select(@drivers, income.driver_id), {}, { class: "form-control input-sm"} )
              .col-xs-2
                - if income.value.nil?
                  = f.text_field :value, class: "form-control input-sm text-right", placeholder: 'Value'
                - else
                  %fieldset{id: "#{income.id}_value_disabled", disabled: true}
                    = f.text_field :value, class: "form-control input-sm text-right", value: income.value
