=form_tag update_multiple_incomes_path, method: :put do
  = hidden_field_tag(:date, @chosen_date)
  .panel.panel-yellow
    .panel-heading
      .container-fluid.panel-container
        .col-xs-8.text-left
          %h3.panel-title.abc
            = icon 'user'
            Brand Shops:
        .col-xs-4.text-right
          .panel-title
            = submit_tag "Save", class: "btn btn-default btn-panel"
    .panel-body
      -if @incomes_brand_shops.any?
        -for income in @incomes_brand_shops
          =fields_for "incomes[]", income do |f|
            .row.row-panel
              .col-xs-6.vmid
                = income.income_source.name
                - unless income.value.nil? && income.midday_value.nil? 
                  %a{id:"#{income.id}_link_disabled", onclick: "edit(#{income.id})"}
                    = icon 'pencil'
              .col-xs-3
                - if income.midday_value.nil?
                  = f.text_field :midday_value, class: "form-control input-sm text-right", placeholder: 'Midday value'
                - else
                  %fieldset{id: "#{income.id}_midday_value_disabled", disabled: true}
                    = f.text_field :midday_value, class: "form-control input-sm text-right", value: income.midday_value
              .col-xs-3
                - if income.value.nil?
                  = f.text_field :value, class: "form-control input-sm text-right", placeholder: 'Value'
                - else
                  %fieldset{id: "#{income.id}_value_disabled", disabled: true}
                    = f.text_field :value, class: "form-control input-sm text-right", value: income.value
