.row
  .col-lg-12
    %h1.page-header
      Dashboard 
      %small
        = @chosen_date
= render partial: "day_selection"
.row
  .col-lg-6
    = render partial: "general_expenses"
  .col-lg-6
    = render partial: "incomes_external_shops"
.row
  .col-lg-6
    = render partial: "incomes_brand_shops"
  .col-lg-6
    = render partial: "incomes_truck_routes"

