.row
  .col-lg-12
    %h1.page-header
      External Shops 
.row
  .col-lg-6
    .panel.panel-primary
      .panel-heading
        %h3.panel-title.abc
          = icon 'list'
          List
      .panel-body
        - if @external_shops.any?
          .table-responsive
            %table.table.table-hover.table-striped
              %thead
                %tr
                  %th
                    = '#'
                  %th
                    Name
                  %th
                    Payments
                  %th
              %tbody
                - i = 0
                - @external_shops.each do |item|
                  - i += 1
                  %tr
                    %td
                      = "#{i}."
                    %td
                      = item.name
                    %td
                      - if item.daily_payments
                        Daily
                      - else
                        Invoice
                    %td.text-right
                      = link_to edit_external_shop_path(item) do
                        = icon 'pencil'
                      = link_to item, class: 'delete', method: :delete, data: { confirm: 'Are you sure?' } do
                        = icon 'remove'
        - else
          There are not any External shops to show.
  .col-lg-6
    .panel.panel-green
      .panel-heading
        %h3.panel-title.abc
          = icon 'plus'
          Add new
      .panel-body
        = render partial: "form"
