= simple_form_for @income do |f|
  = f.input :date, as: :string, input_html: { class: 'datetimepicker' }
  = f.input :value, placeholder: 'Enter value'
  = f.input :midday_value, placeholder: 'Enter midday value'
  = f.hidden_field :income_source_type, value: "BrandShop"
  = f.input :income_source_id, collection: @brand_shops, prompt: "Select shop!"
  = f.button :submit
