.row
  .col-lg-12
    %h1.page-header
      Drivers
.row
  .col-lg-6
    .panel.panel-primary
      .panel-heading
        %h3.panel-title.abc
          = icon 'list'
          List
      .panel-body
        - if @drivers.any?
          .table-responsive
            %table.table.table-hover.table-striped
              %tbody
                - i = 0
                - @drivers.each do |item|
                  - i += 1
                  %tr
                    %td
                      = "#{i}."
                      = item.full_name
                    %td.text-right
                      = link_to edit_driver_path(item) do
                        = icon 'pencil'
                      = link_to item, class: 'delete', method: :delete, data: { confirm: 'Are you sure?' } do
                        = icon 'remove'
        - else
          There are not any Drivers to show.
  .col-lg-6
    .panel.panel-green
      .panel-heading
        %h3.panel-title.abc
          = icon 'plus'
          Add new
      .panel-body
        = render partial: "form"
